<!DOCTYPE html>
<html>
<head>

</head>
<body>
  {{>header}}
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aut ad iste animi distinctio? Nihil, quasi minima incidunt mollitia in tenetur, recusandae voluptatum ipsum corporis tempore modi, sequi blanditiis porro. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat possimus odio expedita similique nostrum voluptatibus consequuntur placeat non modi assumenda asperiores, quisquam, consectetur exercitationem sequi nemo rerum dignissimos adipisci ducimus! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet fuga quam, quibusdam vero, nisi maiores esse ratione dolore molestiae soluta quasi rerum vitae minus, nam voluptates! Quasi eveniet non maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam velit commodi delectus itaque dignissimos cumque debitis minima maxime molestiae rem suscipit corrupti accusamus possimus, iusto ut ducimus in assumenda sapiente.</p>
  <p>this is footer</p>

  {{!-- <script src="/js/alert.js"></script> --}}
</body>
</html>